html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

#header {
	width: 100%;
	background-color: green;
	padding: 10px;
	position: fixed;
	z-index: 1;
}

h1{
	text-align: center;
	font-size: 50px;
	line-height: 60px;
}

p {
	font-size: 16px;
}

#wrapper {
	min-height: 100%;
	position: relative;
}


#content {
	padding: 30px;
	padding-bottom: 80px; /* Height of the footer element*/
}

.bird-photo {
	border-radius: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 400px;
	width: 400px;
}
           
#footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #f2f2f2;
	text-align: center;
	font-size: 16px;
	color: #7c7c7c;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 6px solid green;
}

#video {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#wrapper-1 {
	background-color: blue;
}

#wrapper-2 {
	background-color: purple;
}

#wrapper-3 {
	background-color: yellow;
	margin-bottom: 30px;
}





