/*========================================
SCREEN WIDTH 320 PX
========================================*/

@media screen and (min-width: 320px) {

	.bird-photo {
		width: 250px;
		height: 250px;
	}


}


/*========================================
SCREEN WIDTH 480 PX
========================================*/

@media screen and (min-width: 480px) {

	.bird-photo {
			width: 300px;
			height: 300px;
		}

}


/*========================================
SCREEN WIDTH 960 PX
========================================*/

@media screen and (min-width: 960px) {

	h1 {
		font-size: 60px;
		text-align: left;
		margin-top: 200px;
		display: inline-block;
		padding-left: 50px;
	}	

	p {
		font-size: 16px;
		float: none;
		display: inline-block;
	}

	.bird-photo {
		width: 400px;
		height: 400px;
		float: left;
	}

	#vocabulary {
		display: inline-block;
		width: 32%;
	}

	#foods {
		display: inline-block;
		width: 32%;
	}

	#toys {
		display: inline-block;
		width: 32%;
	}

	.video {
		width: 100%;

	}

	#inner-wrapper-1 {

	}

	#inner-wrapper-2 {

	}

	#inner-wrapper-3 {

	}


}